* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande","Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    
  scroll-behavior: smooth;

    --principalClaro: #2c17a0;
    --backgroundClaro: #505cff;
    --shadowColour: #ff9950;
    --shadowClaro: #ff995030 0px 4px 8px;

}

/* ANIMACION BOTON */

#SectionHeader {
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 5rem 5rem 3rem;
  align-items: center;
}

header label {
  height: 2rem;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px -15px rgba(255,255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

header label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10%;
  left: 5%;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;

}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: #242424;
}

input:checked + label:after {
  left: 95%;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

label:active:after {
  width: 2.2rem;
}

/*FIN ANIMACION BOTON */

header h1 
{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h1 a {
  color: black;
}

header nav {
  background-color: var(--backgroundClaro);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

header menu {
  background-color: var(--principalClaro);
  display: flex;
  flex-direction: row;
  list-style: outline none none;
  height: 2rem;
  width: 80%;
  border-radius: 15px;
  box-shadow: var(--shadowClaro)
}

li {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

header li::after{
  content: "";
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 25%;
  background-color: var(--shadowColour);
  transform-origin: bottom center;
  transition: transform 0.25s ease-in-out;
} 

header li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

header menu ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 16px 32px;
  gap: 16px;
  box-shadow: var(--shadowClaro);
  justify-content: space-around;
}

.animation {
  display: inline-block;
  position: relative;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

header a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
}

main > section {
  min-height: 50vh;
}

#Inicio {
  background-color: lightcoral;
}

#SobreMi {
  background-color: lightcyan;
}

#Proyectos {
  background-color: lightgreen;
}

#Contacto {
  background-color: rgb(255, 236, 224);
}

#GoUpButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99;
  display: none;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: /*1px solid black*/ none;
  background: url(./Icons/Arrow.svg) no-repeat center;
  background-size: contain;
}


#GoUpButton:hover {
  background: url(./Icons/Hover.svg) no-repeat center;
  background-size: contain;
  /* background-color: gray; */
}

footer section {
  width: 100%;
}

footer ul {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  justify-content: space-around;
}

footer ul li {
  width: 100%;
  height: 100%;
  background-color: rgb(243, 2, 2);
  margin: 1.5rem 0.5rem;  
  font-size: 0;

  /*Intentamos hacer animacion revelando texto*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul li img {
  width: 3rem;
  border-radius: 30%;
}

footer ul li:hover {
  animation-name: animationImagesFooter;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

footer p {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
}


/* Animacion para las imagenes del footer */
@keyframes animationImagesFooter {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(-10px);
  }
}

